<!DOCTYPE html>

<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Vista/CSS/Styles.css">
        <title>PERFIL</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
    </head>
    <body>
       <div class="perfil">
    <img class="Imagen_perfil" src="/Vista/Imagenes/Helping_hands2.PNG"></br>
  
    <button class="btn_Actualizar_info" onclick=location.href='index'>
      <img class="Salir" src="/Vista/Imagenes/Salir.png"></br>
      <label>Salir</label>
    </button>
  </div>
  
  
  

    <table class="Perfil">

        <tr>
      
          <td>
           
            
          </td>
      
          <td>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25248.692420470692!2d-74.12540870094026!3d4.696979209876052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses!2sco!4v1699222161270!5m2!1ses!2sco" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </td>

          
                   
        </tr>    
        
        <tr>
            <td>
             
              <button class="btn_Actualizar_info" onclick=location.href='/listar'>
                <img class="Actualizar" src="/Vista/Imagenes/Actualizar.png"></br>
                <label>Actualizar Informacion</label>
            </button>
          </td>
            <td>
              <button class="btn_Buscar" onclick=location.href='/listarSolicitud'>
              <img class="Buscar" src="/Vista/Imagenes/Buscar.PNG"></br>
              <label>Buscar Empleo</label>
             </button>
            </td>

            <td>
              <button class="btn_Buscar_Empleado" onclick=location.href='/listarServicio'>
              <img class="Buscar_Empleado" src="/Vista/Imagenes/Empleado.jpg"></br>
              <label>Buscar empelado</label>
            </button>
            </td>
            
        </tr>

        
            
      </table>
    </body>
</html>
